body {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  }
/* HEADER STYLES************************************/
h1 {
  text-align: center;
  margin: 0 auto;
  color: #74F0F2;
  font-family: Barbie;
  font-size: 50pt;
  text-shadow: 2px 2px #F707DB;
  }

#header {
  box-shadow: 3px 3px 10px 5px #74F0F2;
  width: 500px;
  max-width: 90%;
  display: block;
  height: 100px;
  text-align: center;
  margin: 10px auto;
  padding-top: 15px;
  }

#score {
  position: relative;
  box-shadow: 3px 3px 10px 5px #74F0F2;
  width: 300px;
  height: 100px;
  font-family: Barbie;
  color: #74F0F2;
  font-size: 25pt;
  left: 550px;
  bottom: 87px;
  padding-top: 25px;
}

h2, h3 {
  text-align: center;
  color: #B800A8;
  font-family: Barbie;
  margin: 0 auto;
  padding: 10px 10px;
  }

h2 {
  font-size: 30pt;
  margin: 0 auto;
  padding: 10px 10px;
  }

h3 {
  font-size: 25pt;
  margin: 0 auto;
  }

/*WHOLE CONTAINER (INCLUDING QUESTIONS AND OPTIONS)***************/

#quizContainer {
  padding-bottom: 5px;
  padding-top: 20px;
  height: 500px;
  top: 50%;
  margin: 5px auto;
  }

/*QUESTION LIVES HERE ******************************/

#questions {
  box-shadow: 2px 2px 1px 5px #74F0F2;
  font-family: Barbie;
  padding: 5px 5px;
  text-align: center;
  color: #B800A8;
  font-size: 25pt;
  margin: 10px auto;
  }

/* QUESTIONS AND OPTIONS ***********************/

form {
  border: 5px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  width: 70%;
  margin-top: 30px;
  color: #B800A8;
  margin: 0 auto;
  }

/* BOXES CONTAINING OPTIONS HERE ********************/

#a {
  font-family: Barbie;
  font-size: 17pt;
  box-shadow: 3px 3px 3px 3px #74F0F2;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#b {
  font-family: Barbie;
  font-size: 17pt;
  box-shadow: 3px 3px 10px 5px #74F0F2;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#c {

  font-family: Barbie;
  font-size: 17pt;
  box-shadow: 3px 3px 10px 5px #74F0F2;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#d {
  font-family: Barbie;
  font-size: 17pt;
  box-shadow: 3px 3px 10px 5px #74F0F2;
  padding: 5px;
  width: 80%;
  clear: both;
  }

/* POST-ANSWER GIFS*************************/

/* CORRECT*******************/

 #correct1 {
  padding-top: 40px;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
  right: 100px;
  bottom: 105px;
  }

#correct2 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
  right: 100px;
}

#correct3 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#correct4 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#correct5 {
  padding-top: 40px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
  right: 100px;

  }

#correct6 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
  right: 100px;
}

#correct7 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#correct8 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#correct9 {
  padding-top: 40px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
  bottom: 100px;
  right: 100px;
  }

#correct10 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
  right: 100px;
}

#correct11 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
  right: 100px;
}

#correct12 {
  padding-top: 40px;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
  right: 100px;
  bottom: 105px;
  }

/*INCORRECT**********************************/

#incorrect1 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
}

#incorrect2 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#incorrect3 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  left: 80px;
  margin: 75px 420px;
  position: absolute;
}

#incorrect4 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 400px;
  position: absolute;
}

#incorrect5 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
}

#incorrect6 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#incorrect7 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  left: 80px;
  position: absolute;
}

#incorrect8 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 400px;
  position: absolute;
}

#incorrect9 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
}

#incorrect10 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#incorrect11 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 420px;
  position: absolute;
}

#incorrect12 {
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 75px 417px;
  position: absolute;
}

/*WINNER PAGES WITH IMAGES *************************/

#winnerCategory1 {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 400px;
  top: 50%;
}

#winnerCategory1 img{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#winnerCategory2 {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 400px;
  top: 50%;
}

#winnerCategory2 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#winnerCategory3 {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 400px;
  top: 50%;
}

#winnerCategory3 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#winnerCategory4 {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 400px;
  top: 50%;
}

#winnerCategory4 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* BUTTONS ****************************/

button {
  border : solid 3px #decede;
  border-radius : 2px 3px 3px 3px ;
  moz-border-radius : 2px 3px 3px 3px ;
  -webkit-box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  -moz-box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  font-size : 20px;
  color : #2af7ed;
  padding : 3px 13px;
  background : #e678ff;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e678ff), color-stop(100%,#9c0e55));
  background : -moz-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -webkit-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -o-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -ms-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e678ff', endColorstr='#9c0e55',GradientType=0 );
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 15px;
}

#start {
 margin-left: 5px;
}

#submit {
 margin-left: 5px ;
}

.hidden {
  display: none;
}

