body {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  }
/* HEADER STYLES************************************/
h1 {
  text-align: center;
  margin: 0 auto;
  color: #74F0F2;
  font-family: Barbie;
  font-size: 50pt;
  text-shadow: 2px 2px #F707DB;
  }

#header{
  border-style: inset;
  border-color: rgba(249, 230, 252, .5);
  width: 500px;
  max-width: 90%;
  display: block;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  }

h2, h3 {
  text-align: center;
  color: #380632;
  font-family: Barbie;
  margin: 0 auto;
  padding: 5px 5px;
  }

h2 {
  font-size: 30pt;
  margin: 0 auto;
  padding: 5px 5px;
  }

h3 {
  font-size: 25pt;
  margin: 0 auto;
  }

/*WHOLE CONTAINER (INCLUDING QUESTIONS AND OPTIONS)***************/

#quizContainer {
  border: 1px inset #380632;
  padding-bottom: 5px;
  padding-top: 20px;
  height: 550px;
  top: 50%;
  margin: 0 auto;
  }

/*QUESTION LIVES HERE ******************************/

#questions {
  border: 3px inset #380632;
  font-family: Barbie;
  padding: 15px;
  text-align: center;
  color: #380632;
  font-size: 25pt;
  margin: 0 auto;
  }

/* QUESTIONS AND OPTIONS ***********************/

form {
  border: 15px;
  padding-top: 10px;
  float: left;
  width: 70%;
  margin-top: 30px;
  color: #380632;
  margin: 0 auto;
  }

/* BOXES CONTAINING OPTIONS HERE ********************/

#a {
  font-family: Barbie;
  font-size: 17pt;
  border-style: solid;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#b {
  font-family: Barbie;
  font-size: 17pt;
  border-style: solid;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#c {
  font-family: Barbie;
  font-size: 17pt;
  border-style: solid;
  padding: 5px;
  width: 80%;
  clear: both;
  }

#d {
  font-family: Barbie;
  font-size: 17pt;
  border-style: solid;
  padding: 5px;
  width: 80%;
  clear: both;
  }

/* POST-ANSWER GIFS*************************/

/* CORRECT*******************/

 #correct1 {
  padding-top: 40px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 417px;
  position: absolute;

  }

#correct2{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#correct3{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#correct4{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

/*INCORRECT**********************************/

#incorrect1{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 417px;
  position: absolute;
}

#incorrect2{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#incorrect3{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#incorrect4{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 400px;
  position: absolute;
}

/*WINNER PAGES WITH IMAGES *************************/

#winnerCategory1 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 400px;
  top: 50%;
}

#winnerCategory1 img{
  margin-right: 10px;
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 420px;
  position: absolute;
}

#winnerCategory2 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 400px;
  top: 50%;
}

#winnerCategory2 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#winnerCategory3 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 400px;
  top: 50%;
}

#winnerCategory3 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#winnerCategory4 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 400px;
  top: 50%;
}

#winnerCategory4 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* BUTTONS ****************************/

button {
  border : solid 3px #decede;
  border-radius : 2px 3px 3px 3px ;
  moz-border-radius : 2px 3px 3px 3px ;
  -webkit-box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  -moz-box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  box-shadow : 2px 3px 12px rgba(191,28,191,1.0);
  font-size : 20px;
  color : #2af7ed;
  padding : 3px 13px;
  background : #e678ff;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e678ff), color-stop(100%,#9c0e55));
  background : -moz-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -webkit-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -o-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : -ms-linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  background : linear-gradient(top, #e678ff 0%, #9c0e55 100%);
  filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e678ff', endColorstr='#9c0e55',GradientType=0 );
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 15px;
}

.hidden {
  display: none;
}

