body {
/*  background-image: url("file:///Users/claire/code/Project01_MisandryTrivia/assets/background.jpg");
*/  background-size: cover;
  }

h1 {
  text-align: center;
  margin-top: 10px;
  color: #FD67DF;
  font-family: Barbie;
  }

#quizContainer {
  border: 3px solid #FD67DF;
  padding: 15px;
  padding-top: 50px;
  height: 600px;
  top: 50%;

  }

#questions {
  border-style: dashed;
  padding: 20px;
  text-align: center;
  color: #FD67DF;
  }

.choices {
  border: 15px;
  padding-top: 20px;
  float: left;
  width: 50%;
  margin-top: 40px;
  color: #FD67DF;
  }

#a {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
  }

#b {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
  }

#c {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
  }

#d {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
  }
 #images img {
  float: right;
  width: 35%;
  }


.hidden {
  display: none;
}

