body {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  }

h1 {
  text-align: center;
  margin-top: 10px;
  color: #380632;
  font-family: Barbie;
  font-size: 50pt;
  text-shadow: 2px 2px #F707DB;
  }

h2, h3 {
  text-align: center;
  color: #380632;
  font-family: Barbie;
  }

h2 {
  font-size: 30pt;
  }

h3 {
  font-size: 25pt;
  }

#quizContainer {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 690px;
  top: 50%;
  }

#questions {
  border: 3px solid #380632;
  font-family: Barbie;
  padding: 20px;
  text-align: center;
  color: #380632;
  font-size: 25pt;
  }

form {
  border: 15px;
  padding-top: 10px;
  float: left;
  width: 50%;
  margin-top: 30px;
  color: #380632;
  }

#a {
  font-family: Barbie;
  font-size: 16pt;
  border-style: solid;
  padding: 5px;
  width: 65%;
  clear: both;
  }

#b {
  font-family: Barbie;
  font-size: 16pt;
  border-style: solid;
  padding: 5px;
  width: 65%;
  clear: both;
  }

#c {
  font-family: Barbie;
  font-size: 16pt;
  border-style: solid;
  padding: 5px;
  width: 65%;
  clear: both;
  }

#d {
  font-family: Barbie;
  font-size: 16pt;
  border-style: solid;
  padding: 5px;
  width: 65%;
  clear: both;
  }

 div > #images {
  margin-right: 50px;
  float: right;
  width: 35%;
  }

#winnerCategory1 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 690px;
  top: 50%;
  }

#winnerCategory2 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 690px;
  top: 50%;
  }

#winnerCategory3 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 690px;
  top: 50%;
  }

#winnerCategory4 {
  border: 3px solid #380632;
  padding: 15px;
  padding-top: 50px;
  height: 690px;
  top: 50%;
  }

.hidden {
  display: none;
  }

